html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003473_1717099456_background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        overflow: hidden;
      }

      .navbar {
        position: absolute;
        top: 50px;
        right: 15%;
      }
      .signup {
        height: 50px;
        width: 100px;
        font-size: large;
        border-radius: 30px;
        background-color: transparent;
        outline: none;
        border: 1px solid white;
        cursor: pointer;
        color: white;
      }
      .content {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 200px;
        color: white;
      }
      #tour {
        width: 10%;
        height: 50px;
        font-size: large;
        color: white;
        border-radius: 40px;

        background-color: transparent;
        outline: none;

        border: 1px solid white;
        cursor: pointer;
      }
      .content > h1 {
        font-size: 100px;
        margin: 0;
        margin-bottom: 10px;
      }
      .side-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background: linear-gradient(#00545d, #000729);
        width: 4rem;
      }

      .menu {
        display: block;
        width: 25px;
        margin: 40px auto 0;
        cursor: pointer;
      }

      .social-links img,
      .useful-links img {
        width: 25px;
        height: 25px;
        margin: 5px;
        cursor: pointer;
        margin-left: 10px;
      }
      .social-links {
        width: 100%;
        text-align: center;
        margin-top: auto;
      }

      .useful-links {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
      /* Links animation */
      .social-links img:hover {
        transform: scale(1.5);
      }
      .useful-links img:hover {
        transform: scale(1.5);
      }
      /* Bubbles animation */
      .bubbles {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .bubbles img {
        position: absolute;
        bottom: 0;
      }

      .bubbles img:nth-child(1) {
        left: 5%;

        width: 70px;
        height: 70px;
        animation: bubble 5s ease-in-out infinite;
      }
      .bubbles img:nth-child(2) {
        left: 15%;
        width: 40px;
        height: 40px;
        animation: bubble 6s ease-in-out infinite;
      }
      .bubbles img:nth-child(3) {
        left: 30%;
        width: 95px;
        height: 95px;
        animation: bubble 7s ease-in-out 2s infinite;
      }
      .bubbles img:nth-child(4) {
        left: 45%;
        width: 45px;
        height: 45px;
        animation: bubble 5s ease-in-out 2s infinite;
      }
      .bubbles img:nth-child(5) {
        left: 65%;
        width: 85px;
        height: 85px;
        animation: bubble 6s ease-in-out 1s infinite;
      }
      .bubbles img:nth-child(6) {
        left: 80%;
        width: 70px;
        height: 70px;
        animation: bubble 8s ease-in-out infinite;
      }
      .bubbles img:nth-child(7) {
        left: 90%;
        width: 60px;
        height: 60px;
        animation: bubble 7s ease-in-out infinite ;
      }
       @keyframes bubble {
        from {
          bottom:-70px;
          opacity: 1;
        }
        to {
          bottom: 50%;
          opacity: 0;
        }
      }  
     
      /* Buttons animation */
      #tour:hover {
        background-color: white;
        color: black;
      }
      .signup:hover {
        background-color: white;
        color: black;
      }

      /* The underline animation */
      h1 {
        width: 90%;
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 16px;
      }

      h1::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        background-color: white;
        animation: none; /* Default state */
      }

      h1:hover::after {
        animation: underline 0.3s forwards ease-in-out;
      }

      @keyframes underline {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }